@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using IdentityServer4.Extensions
@{
	ViewBag.Title = "Information";
	Layout = "~/Views/Shared/_LayoutAuth.cshtml";

	var app = "primeapps";
	var logo = "";
	var customDomain = false;
	string customLanguage = null;
	var path = Context.Request.Path.Value + Context.Request.QueryString.Value;
	if (ViewBag.AppInfo != null)
	{
		logo = ViewBag.AppInfo["logo"].Value;
		app = ViewBag.AppInfo["app"].Value;
		ViewBag.Title = ViewBag.AppInfo["title"].Value;
		customDomain = ViewBag.AppInfo["customDomain"] != null ? ViewBag.AppInfo["customDomain"].Value : false;
		//customLanguage = !string.IsNullOrWhiteSpace(ViewBag.AppInfo["language"].Value) ? ViewBag.AppInfo["language"].Value : string.Empty;
	}
	var otherLang = ViewBag.AppInfo["language"] == "tr" ? "en" : "tr";
	var error = ViewBag.Error;
}
<div class="col-md-4 login-sec">
	<img class="logo-img" src="@logo" />
	@if (!customDomain)
	{
		<span class="free-info-header" style="font-size: 20px;padding-bottom: 10px;">
			@Localizer["Hello"]
			<span class="free-info-header" style="font-weight: 500;font-size: 30px;text-transform: uppercase;padding-bottom: 10px;">
				@Context.User?.GetDisplayName()
			</span>
		</span>


		<span class="free-info-header" style="padding-bottom: 10px;font-size: 20px;">
			( @Context.User.FindFirst("email").Value )
		</span>
	}

	<div class="login-form" role="form" style="padding-top: 10px;">
		<a href="@Url.Action("Logout", "Account")" class="btn btn-login btn-block ladda-button" data-style="slide-right" tabindex="3">@Localizer["Logout"]</a>

		<div class="language">
			@if (otherLang == "tr")
			{
				<a href="@Url.Action("ChangeLanguage", "Account", new { language = "tr", ReturnUrl = path })">@Localizer["TR"]</a>
			}
			else if (otherLang == "en")
			{
				<a href="@Url.Action("ChangeLanguage", "Account", new { language = "en", ReturnUrl = path })">@Localizer["EN"]</a>
			}
		</div>
	</div>
</div>

