@model RegisterViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_LayoutAuth.cshtml";

	var app = "primeapps";
	var logo = "";
	string customLanguage = null;
	var path = Context.Request.Path.Value + Context.Request.QueryString.Value;

	if (ViewBag.AppInfo != null)
	{
		logo = ViewBag.AppInfo["logo"].Value;
		app = ViewBag.AppInfo["app"].Value;
		ViewBag.Title = ViewBag.AppInfo["title"].Value;
		customLanguage = !string.IsNullOrWhiteSpace(ViewBag.AppInfo["language"].Value) ? ViewBag.AppInfo["language"].Value : string.Empty;
	}
	var otherLang = ViewBag.AppInfo["language"] == "tr" ? "en" : "tr";
	var error = ViewBag.Error;
	var officeSignIn = false;
}
@*<div class="row">
		<div class="col-md-4">
			<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
				<h4>Create a new account.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Email"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password"></label>
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<button type="submit" class="btn btn-default">Register</button>
			</form>
		</div>
	</div>
*@



<div class="col-md-4 login-sec">
	<img class="logo-img" src="@logo" />
	<span class="free-info-header">
		@Localizer["Free"]
	</span>

	<form asp-route="Register" class="login-form" role="form" id="register-form">
		<div class="form-group">
			<div class="input-group input-group-first">
				<span class="input-group-addon">
					<span class="flaticon-profile7"></span>
				</span>
				<!--<label for="exampleInputEmail1" class="text-uppercase">Ad</label>-->
				<input class="form-control input-group-firstname" placeholder="@Localizer["FirstName"]" asp-for="FirstName" id="FirstName" autofocus autocomplete="off">
				<input class="form-control" placeholder="@Localizer["LastName"]" asp-for="LastName" id="LastName" autofocus autocomplete="off">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="flaticon-email26"></span>
				</span>
				<!--<label for="exampleInputEmail1" class="text-uppercase">E-Posta</label>-->
				@if (ViewBag.ReadOnly)
				{

					<input class="form-control" placeholder="@Localizer["Email"]" asp-for="Email" id="Email" autofocus autocomplete="off" readonly="readonly">
				}
				else
				{
					<input class="form-control" placeholder="@Localizer["Email"]" asp-for="Email" id="Email" autofocus autocomplete="off">
				}
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="flaticon-padlock50"></span>
				</span>
				<input class="form-control" placeholder="@Localizer["Password"]" asp-for="Password" id="Password" autofocus autocomplete="off">
			</div>
		</div>

		@if (error != null)
		{
			@Html.Raw(string.Format(Localizer["UserExist"].Value, ViewData["appName"]))
		}
		<div class="error-all"></div>
		<div class="error-email"></div>
		<div class="error-pass"></div>
		<div class="error-fullname"></div>
		<div class="form-check">
			<button type="submit" class="btn btn-login btn-block ladda-button" data-style="slide-right">@Localizer["CreateAccount"]</button>
			@if (!officeSignIn)
			{
				<hr />
				<button type="button" onclick="location.href = '@Url.Action("SignInAd", "Auth")'" class="btn btn-block office-button">@Localizer["RegisterWithOffice"]</button>
			}
			<div class="language">
				@if (otherLang == "tr")
				{
					<a href="@Url.Action("ChangeLanguage", "Account", new { language = "tr", ReturnUrl = path })">@Localizer["TR"]</a> <span>|</span>
				}
				else if (otherLang == "en")
				{
					<a href="@Url.Action("ChangeLanguage", "Account", new { language = "en", ReturnUrl = path })">@Localizer["EN"]</a> <span>|</span>
				}
				<a href="@Url.Action("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl})" class="">@Localizer["LoginForm"]</a>
			</div>
		</div>
	</form>

	<div class="form-group">

		<hr style="margin-top: 0;" />
		<p class="free-info">
			@Html.Raw(string.Format(Localizer["CreateInfo"].Value, string.Format("<a href=\"http://www.ofisim.com/kullanicisozlesmesi\" target=\"_blank\">{0}</a>", Localizer["Terms"].Value), string.Format("<a href=\"http://www.ofisim.com/gizlilikpolitikasi\" target=\"_blank\">{0}</a>", @Localizer["Policy"].Value)))
		</p>
	</div>
</div>



@section scripts {
	<script type="text/javascript">
			$(document).ready(function() {
				var postTry = false;

				$("#FirstName,#LastName, #Email, #Password").keyup(function() {
					$(".server-error").text("");
					$(".server-error").removeClass("error");
					if (postTry) {
						if (fieldsHasValue()) {
							$(".error-all").removeClass("error");
							$(".error-all").text("");
							emailValidator();
							passwordValidator();
							fullNameValidator();
						} else {
							removeFieldErrors();
							$(".error-all").addClass("error");
							$(".error-all").text("@Localizer["RegisterFieldsRequired"]");
						}
					}
				});

				$(".btn-login").click(function(e) {
					postTry = true;
					var l = Ladda.create(this);
					l.start();
					if (fieldsHasValue()) {
						$(".error-all").removeClass("error");
						$(".error-all").text("");

						var isEmailValid = emailValidator();
						var isPasswordValid = passwordValidator();
						var isFullNameValid = fullNameValidator();

						if (!isEmailValid || !isPasswordValid || !isFullNameValid) {
							e.stopPropagation();
							e.preventDefault();
							l.stop();
						} else {
							$("#register-form").submit();
						}
					} else {
						$(".error-all").addClass("error");
						$(".error-all").text("@Localizer["RegisterFieldsRequired"]");

						e.stopPropagation();
						e.preventDefault();
						l.stop();
					}
				});

				function fieldsHasValue() {
					var emailValue = $("#Email").val();
					var passwordValue = $("#Password").val();
					var firstNameValue = $("#FirstName").val();
					var lastNameValue = $("#LastName").val();

					if (emailValue === "" || passwordValue === "" || firstNameValue === "" || lastNameValue === "") {
						return false;
					}
					return true;
				}

				function fullNameValidator () {
					var isValid = true;
					var firstNameValue = $("#FirstName").val();
					var lastNameValue = $("#LastName").val();

					if (firstNameValue === "" || lastNameValue === "") {
						removeFieldErrors();
						$(".error-all").addClass("error");
						$(".error-all").text("@Localizer["RegisterFieldsRequired"]");
						isValid = false;
					} else if (firstNameValue.length < 2 || lastNameValue.length < 2) {
						$(".error-fullname").addClass("error");
						$(".error-fullname").text("@Localizer["NameMinimum"]");
						isValid = false;
					} else {
						$(".error-fullname").removeClass("error");
						$(".error-fullname").text("");
					}
					return isValid;
				}

				function emailValidator() {
					var isValid = true;
					var fieldValue = $("#Email").val().toLowerCase().replace(/\ /g, "");
					var result = /^[a-z0-9._%+-]+@@[a-z0-9.-]+$/.test(fieldValue);
					if (fieldValue === "") {
						removeFieldErrors();
						$(".error-all").addClass("error");
						$(".error-all").text("@Localizer["RegisterFieldsRequired"]");
						isValid = false;
					} else if (!result) {
						$(".error-email").addClass("error");
						$(".error-email").text("@Localizer["InvalidEmail"]");
						isValid = false;
					} else {
						$(".error-email").removeClass("error");
						$(".error-email").text("");
					}
					return isValid;
				}

				function passwordValidator() {
					var isValid = true;
					var fieldValue = $("#Password").val();

					if (fieldValue === undefined) {
						return isValid;
					}

					if (fieldValue === "") {
						removeFieldErrors();
						$(".error-all").addClass("error");
						$(".error-all").text("@Localizer["RegisterFieldsRequired"]");
						isValid = false;
					} else if (fieldValue.length < 6) {
						$(".error-pass").addClass("error");
						$(".error-pass").text("@Localizer["PasswordMinimum"]");
						isValid = false;
					} else {
						$(".error-pass").removeClass("error");
						$(".error-pass").text("");
					}
					return isValid;
				}

				function removeFieldErrors() {
					$(".error-pass").removeClass("error");
					$(".error-pass").text("");
					$(".error-email").removeClass("error");
					$(".error-email").text("");
					$(".error-firstname").removeClass("error");
					$(".error-firstname").text("");
					$(".error-lastname").removeClass("error");
					$(".error-lastname").text("");
					$(".error-fullname").removeClass("error");
					$(".error-fullname").text("");
					$(".error").text("");
				}

				$("input").focus(function(e) {
					$(e.target).closest(".input-group").addClass("input-focus");
				});

				$("input").blur(function(e) {
					$(e.target).closest(".input-group").removeClass("input-focus");
				});
			});
	</script>
}