@model ForgotPasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{

    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutAuthStudio.cshtml";

    var app = "primeapps";
    bool multiLanguage = true;
    var path = Context.Request.Path.Value + Context.Request.QueryString.Value;
    if (ViewBag.AppInfo != null)
    {
        app = Model.ApplicationInfo.Name;
        ViewBag.Title = Model.ApplicationInfo.Title;
        multiLanguage = Model.ApplicationInfo.MultiLanguage;

    }
    var otherLang = Model.ApplicationInfo.Language == "tr" ? "en" : "tr";
    var error = Model.Error;
}

<div>
    <div class="text-center">
        <a href="#" class="logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 335 70" style="enable-background: new 0 0 335 70;" xml:space="preserve">
                <path class="st0" d="M8.608,4.63h17.07c8.463,0,13.237,5.717,13.237,12.737A18.749,18.749,0,0,1,20.181,35.676H13.6L10.416,53.551H0Zm12.73,22.217c3.617,0,6.944-3.329,6.944-8.1,0-3.112-1.736-5.066-4.557-5.066H17.432L15.118,26.847ZM42.821,29.38c1.519-8.756,7.45-14.618,16.637-14.618a26.956,26.956,0,0,1,6.726.94l-2.459,8.612a18.239,18.239,0,0,0-4.846-.8c-3.183,0-5.353,2.461-5.931,5.862L48.68,53.551H38.553ZM99.993,31.5c1.808-10.421,9.259-15.559,17.143-15.559,4.051,0,6.944,1.737,8.535,4.849a13.633,13.633,0,0,1,10.272-4.849c7.884,0,13.454,5.138,11.645,15.559l-4.05,23.23H133.411l3.906-22.506c.868-4.993,0-7.526-2.966-7.526-3.038,0-4.846,3.039-5.859,8.756L124.8,54.73H114.677l3.689-21.276c1.012-5.717.144-8.756-2.821-8.756s-4.7,2.533-5.57,7.526L106,54.73H95.87Zm55.117.434c1.808-10.421,9.042-15.993,18.083-15.993,6.727,0,12.152,4.559,12.152,11,0,10.783-12.152,12.158-21.483,12.592l-.144,1.013c-.651,3.619.795,6.369,5.425,6.369a37.449,37.449,0,0,0,10.777-2.1l.434,8.467a35.323,35.323,0,0,1-12.8,2.388c-10.2,0-15.407-6.585-13.671-16.789Zm20.109-3.98c0-2.1-1.519-3.256-3.545-3.256-2.965,0-5.425,2.026-6.437,7.092l-.217,1.085C170.517,32.513,175.219,31.428,175.219,27.954Z" fill="#fff"/>
                <path class="st1" d="M208.347,5.81h12.007l5.787,48.92H215.725l-1.158-11.8H201.186l-5.208,11.8H185.345Zm5.425,28.513-.868-9.264c-.217-2.315-.362-5.5-.362-8.611-1.157,3.112-2.387,6.3-3.4,8.611l-4.123,9.264ZM238.364,70H228.237l6.655-37.631c1.808-10.349,8.535-16.428,18.445-16.428,8.318,0,14.322,6.079,12.586,16.428l-1.23,7.019c-1.953,11.073-8.029,16.283-17.866,16.283a18.728,18.728,0,0,1-5.714-1.23Zm9.548-23.085c3.038,0,5.714-2.027,6.655-7.527l1.229-7.019c.868-4.994-.795-7.671-3.833-7.671-3.183,0-6.076,2.677-6.944,7.671L242.7,45.54A11.877,11.877,0,0,0,247.912,46.915ZM276.194,70H266.067l6.655-37.631c1.808-10.349,8.535-16.428,18.445-16.428,8.318,0,14.322,6.079,12.586,16.428l-1.23,7.019c-1.953,11.073-8.029,16.283-17.866,16.283a18.735,18.735,0,0,1-5.715-1.23Zm9.548-23.085c3.038,0,5.714-2.027,6.654-7.527l1.23-7.019c.868-4.994-.8-7.671-3.834-7.671-3.182,0-6.076,2.677-6.944,7.671L280.534,45.54A11.877,11.877,0,0,0,285.742,46.915Zm22.422-1.81a25.581,25.581,0,0,0,9.4,1.81c2.821,0,5.063-1.448,5.063-3.4,0-4.559-12.514-3.69-12.514-13.677,0-7.888,5.715-13.9,15.19-13.9A25.914,25.914,0,0,1,335,17.75l-2.821,8.467a23.022,23.022,0,0,0-7.74-1.519c-2.893,0-3.906,1.519-3.906,3.039,0,4.487,12.442,4.125,12.442,14.257,0,6.8-4.7,13.677-16.2,13.677a30.6,30.6,0,0,1-11.356-2.316Z" fill="#fff" opacity="0.5"/>
                <path class="st2" d="M68.036,51.488s.664-39.6,21.448-49.552c2.875,5.309,9.95,22.785-8.623,53.313C74.006,53.037,68.036,51.488,68.036,51.488Zm1.828-16.009S56.318,35.34,60.74,57.9a97.072,97.072,0,0,0,7.335-7.53ZM83.735,64.1s16.108-15.147,4.517-23.28L80.861,55.249Z" fill="#fcad2d"/>
                <path class="st3" d="M90.78,1.233,90.112,0,88.848.606c-5.012,2.4-9.3,6.615-12.756,12.528A64.578,64.578,0,0,0,69.535,30.09c-.339,1.37-.639,2.719-.906,4.032a11.177,11.177,0,0,0-6.8,3.91C58.345,42.219,57.493,49,59.293,58.187l.479,2.443,1.911-1.594a76.274,76.274,0,0,0,6.069-6.1c.72.189,5.941,1.573,11.941,3.486l3.359,10.34,1.693-1.592a41,41,0,0,0,4.741-5.531c3.179-4.456,4.662-8.523,4.407-12.089a10.088,10.088,0,0,0-3.862-7.222,61.524,61.524,0,0,0,4.658-21.162A35.7,35.7,0,0,0,90.78,1.233ZM61.736,54.977a30.524,30.524,0,0,1-.136-9.009,12.408,12.408,0,0,1,2.454-6,8.227,8.227,0,0,1,3.988-2.687,109.047,109.047,0,0,0-1.415,12.507C65.813,50.695,63.667,53.07,61.736,54.977Zm29.216-7.219c.141,1.961-.409,5.309-3.834,10.125A39.037,39.037,0,0,1,84.376,61.3l-1.907-5.871a107.411,107.411,0,0,0,6.362-12.21A6.951,6.951,0,0,1,90.952,47.758Zm-4.036-7.567-6.8,13.273c-4.578-1.448-8.647-2.579-10.558-3.1l1.758-14.638c.305-1.6.661-3.25,1.078-4.931a61.619,61.619,0,0,1,6.24-16.178,28.247,28.247,0,0,1,10.2-10.688,33.733,33.733,0,0,1,2.9,15.169A59.381,59.381,0,0,1,86.916,40.191Z" fill="#f06933"/>
                <path class="st4" d="M86.694,26.528,78.426,53.035l-6.962-2.174,8.268-26.507a3.647,3.647,0,1,1,6.962,2.174Zm-.947-14.255a3.982,3.982,0,1,0,3.98,3.982A3.981,3.981,0,0,0,85.747,12.273Z" fill="#e89728"/>
                <path class="st5" d="M85.33,27.725,77.523,52.753l-5.157-1.61,7.807-25.028c.566-1.814,2.179-2.925,3.6-2.48S85.9,25.911,85.33,27.725Zm.417-14.456a2.986,2.986,0,1,0,2.985,2.986A2.986,2.986,0,0,0,85.747,13.269Z" fill="#0d6faa"/>
            </svg>
        </a>


        
        
        <form asp-route="ForgotPassword" class="login-form" role="form" id="forgot-form">
            <input type="hidden" asp-for="@Model.ReturnUrl" />
            <div class="infotext text-center">
                @if (!string.IsNullOrWhiteSpace(Model.Success))
                {
                    @Localizer["ForgotPasswordSuccess"]
                }
                else
                {
                    @Localizer["ForgotInfo"]
                }
            </div>
            <div class="form-group">
                <label for="Email" class="labelx"><span>@Localizer["Email"]</span>
                    <input class="form-control" asp-for="Email" id="Email" autofocus autocomplete="off">
                </label>
                <div class="error-email"></div>
            </div>   
            <div class="text-center paddingb20">
                <button type="submit" class="btn btn-login ladda-button" data-style="slide-right">@Localizer["Send"]</button>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Error))
            {
                if (Model.Error == "InvalidEmail")
                {
                    <div class="error2 error">@Localizer["InvalidEmail"]</div>
                }
        
                else if (Model.Error == "ForgotNotFound")
                {
                    <div class="error2 error">@Localizer["ForgotNotFound"]</div>
                }
                else if (Model.Error == "NotSendEmail")
                {
                    <div class="error2 error">@Localizer["NotSendEmail"]</div>
                }
                else
                {
                    <div class="error2 error">@Localizer["InvalidEmail"]</div>
                }
            }
        </form>

    </div>
</div>
<div class="text-center">
    <a href="@Url.Action("Login", "Account" , new {ReturnUrl=Model.ReturnUrl, Email=Model !=null ? Model.Email : "" })" class="buttonx">@Localizer["ReturnInfo"]</a>
</div>


    


@section scripts {
    <script type="text/javascript">
            $(document).ready(function () {

                if ("@Model.Success" === "Success") {
                    swal({
                        title: "@Localizer["ForgotPasswordSuccessTitle"]",
                        text: "@Localizer["ForgotPasswordSuccess"]",
                        type: "success",
                        button: "@Localizer["Ok"]",
                    });
                }

                var postTry = false;
                $("#Email").keyup(function() {
                    if (postTry) {
                        emailValidator();
                    }
                });

                $(".btn-login").click(function(e) {
                    postTry = true;
                    removeFieldErrors();
                    var l = Ladda.create(this);
                    l.start();
                    if (!emailValidator()) {
                        e.stopPropagation();
                        e.preventDefault();
                        l.stop();
                    }  else {
                        $("#forgot-form").submit();
                    }
                });

                function emailValidator() {
                    var isValid = true;
                    var fieldValue = $("#Email").val().toLowerCase().replace(/\ /g, "");
                    var result = /^[a-z0-9._%+-]+@@[a-z0-9.-]+$/.test(fieldValue);
                    if (!result) {
                        $(".error-email").addClass("error");
                        $(".error-email").text("@Localizer["InvalidEmail"]");
                        isValid = false;
                    } else {
                        $(".error-email").removeClass("error");
                        $(".error-email").text("");
                    }
                    return isValid;
                }

                function removeFieldErrors() {
                    $(".error-email").removeClass("error");
                    $(".error-email").text("");
                    $(".error").text("");
                }

                $("input").focus(function (e) {
                    $(e.target).closest(".input-group").addClass("input-focus");
                });

                $("input").blur(function (e) {
                    $(e.target).closest(".input-group").removeClass("input-focus");
                });
            });
    </script>
}

@*section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }*@
