@model ResetPasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{

    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutAuthStudio.cshtml";

    var app = "primeapps";
    if (ViewBag.AppInfo != null)
    {
        app = Model.ApplicationInfo.Name;
        ViewBag.Title = Model.ApplicationInfo.Title;
    }
    var lang = Model.ApplicationInfo.Language == "tr" ? "en" : "tr";
    var client = Model.ApplicationInfo.Name ?? "";
}
<div>
    <div class="text-center">
        <a href="#" class="logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 335 70" style="enable-background: new 0 0 335 70;" xml:space="preserve">
                <path class="prime" d="M8.6,4.6h17.1c8.5,0,13.2,5.7,13.2,12.7c0,9.4-8,18.3-18.7,18.3h-6.6l-3.2,17.9H0L8.6,4.6z M21.3,26.8 c3.6,0,6.9-3.3,6.9-8.1c0-3.1-1.7-5.1-4.6-5.1h-6.3l-2.3,13.2H21.3z M42.8,29.4c1.5-8.8,7.5-14.6,16.6-14.6c2,0,4.8,0.4,6.7,0.9 l-2.5,8.6c-1.7-0.5-3.5-0.8-4.8-0.8c-3.2,0-5.4,2.5-5.9,5.9l-4.3,24.2H38.6L42.8,29.4z M100,31.5c1.8-10.4,9.3-15.6,17.1-15.6 c4.1,0,6.9,1.7,8.5,4.8c2.7-3,6.2-4.8,10.3-4.8c7.9,0,13.5,5.1,11.6,15.6l-4.1,23.2h-10.1l3.9-22.5c0.9-5,0-7.5-3-7.5 c-3,0-4.8,3-5.9,8.8l-3.7,21.3h-10.1l3.7-21.3c1-5.7,0.1-8.8-2.8-8.8c-3,0-4.7,2.5-5.6,7.5l-4,22.5H95.9L100,31.5z M155.1,31.9 c1.8-10.4,9-16,18.1-16c6.7,0,12.2,4.6,12.2,11c0,10.8-12.2,12.2-21.5,12.6l-0.1,1c-0.7,3.6,0.8,6.4,5.4,6.4c3.5,0,7.3-1,10.8-2.1 l0.4,8.5c-4.3,1.5-7.9,2.4-12.8,2.4c-10.2,0-15.4-6.6-13.7-16.8L155.1,31.9z M175.2,28c0-2.1-1.5-3.3-3.5-3.3c-3,0-5.4,2-6.4,7.1 l-0.2,1.1C170.5,32.5,175.2,31.4,175.2,28z"></path>
                <path class="icon1" d="M78.6,14.6c-2.6,4.4-4.7,9.8-6.2,16.2c-0.4,1.7-0.8,3.3-1.1,4.9l-1.8,14.6c0.5,0.1,1.2,0.3,1.9,0.5l0,0 l8.3-26.6c0.6-1.9,2.6-3,4.6-2.4c1.9,0.6,3,2.6,2.4,4.6l-8.3,26.5c0.5,0.2,1.1,0.3,1.7,0.5l6.8-13.3c3.1-7.5,4.7-14.5,4.8-21.1 c0.2-6.9-1.4-11.9-2.9-15.2C84.9,6.2,81.5,9.7,78.6,14.6z M85.7,20.2c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4c2.2,0,4,1.8,4,4 C89.7,18.5,87.9,20.2,85.7,20.2z M82.5,55.4c2.5-4.2,4.6-8.2,6.4-12.2c1.3,1.3,2,2.8,2.1,4.5c0.1,2-0.4,5.3-3.8,10.1 c-1,1.4-1.9,2.5-2.7,3.4L82.5,55.4z M68,37.3c-1,5.6-1.3,10.2-1.4,12.5c-0.8,0.9-3,3.3-4.9,5.2c-0.5-3.4-0.5-6.5-0.1-9 c0.4-2.5,1.2-4.5,2.5-6C65.4,38.4,66.9,37.6,68,37.3z"></path>
                <path class="icon2" d="M90.8,1.2L90.1,0l-1.3,0.6c-5,2.4-9.3,6.6-12.8,12.5c-2.7,4.6-4.9,10.3-6.6,17c-0.3,1.4-0.6,2.7-0.9,4 c-1.6,0.3-4.5,1.1-6.8,3.9c-3.5,4.2-4.3,11-2.5,20.2l0.5,2.4l1.9-1.6c1.8-1.5,4.5-4.3,6.1-6.1c0.7,0.2,5.9,1.6,11.9,3.5l3.4,10.3 l1.7-1.6c0.1-0.1,2.4-2.3,4.7-5.5c3.2-4.5,4.7-8.5,4.4-12.1c-0.2-2.8-1.5-5.3-3.9-7.2c2.9-7.4,4.5-14.5,4.7-21.2 C94.9,10.7,92.7,4.7,90.8,1.2z M66.6,49.8c-0.8,0.9-3,3.3-4.9,5.2c-0.5-3.4-0.5-6.5-0.1-9c0.4-2.5,1.2-4.5,2.5-6 c1.3-1.6,2.8-2.3,4-2.7C67.1,42.8,66.7,47.4,66.6,49.8z M87.1,57.9c-1,1.4-1.9,2.5-2.7,3.4l-1.9-5.9c2.5-4.2,4.6-8.2,6.4-12.2 c1.3,1.3,2,2.8,2.1,4.5C91.1,49.7,90.5,53.1,87.1,57.9z M91.7,19.1c-0.1,6.6-1.8,13.6-4.8,21.1l-6.8,13.3c-0.6-0.2-1.1-0.3-1.7-0.5 l0,0l-7-2.1c-0.8-0.2-1.4-0.4-1.9-0.5l1.8-14.6c0.3-1.6,0.7-3.2,1.1-4.9c1.6-6.3,3.7-11.8,6.2-16.2c2.8-4.9,6.3-8.5,10.2-10.7 C90.4,7.2,91.9,12.2,91.7,19.1z"></path>
                <path class="icon3" d="M86.7,26.4L78.5,53l-7.1-2.1l8.3-26.7c0.6-1.9,2.6-3,4.6-2.4C86.2,22.4,87.3,24.5,86.7,26.4z M85.7,12.3 c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S87.9,12.3,85.7,12.3z"></path>
                <path class="icon4" d="M85.3,27.6l-7.8,25.1l-5.2-1.6L80.2,26c0.6-1.8,2.2-2.9,3.6-2.5C85.2,24,85.9,25.8,85.3,27.6z M85.7,13.2 c-1.6,0-3,1.3-3,3c0,1.6,1.3,3,3,3s3-1.3,3-3C88.7,14.5,87.4,13.2,85.7,13.2z"></path>
                <path class="apps" d="M208.3,5.8h12l5.8,48.9h-10.4l-1.2-11.8h-13.4L196,54.7h-10.6L208.3,5.8z M213.8,34.3l-0.9-9.3 c-0.2-2.3-0.4-5.5-0.4-8.6c-1.2,3.1-2.4,6.3-3.4,8.6l-4.1,9.3H213.8z M238.4,70h-10.1l6.7-37.6c1.8-10.3,8.5-16.4,18.4-16.4 c8.3,0,14.3,6.1,12.6,16.4l-1.2,7c-2,11.1-8,16.3-17.9,16.3c-2,0-4-0.7-5.7-1.2L238.4,70z M247.9,46.9c3,0,5.7-2,6.7-7.5l1.2-7 c0.9-5-0.8-7.7-3.8-7.7c-3.2,0-6.1,2.7-6.9,7.7l-2.3,13.2C244.4,46.3,246,46.9,247.9,46.9z M276.2,70h-10.1l6.7-37.6 c1.8-10.3,8.5-16.4,18.4-16.4c8.3,0,14.3,6.1,12.6,16.4l-1.2,7c-2,11.1-8,16.3-17.9,16.3c-2,0-4-0.7-5.7-1.2L276.2,70z M285.7,46.9 c3,0,5.7-2,6.7-7.5l1.2-7c0.9-5-0.8-7.7-3.8-7.7c-3.2,0-6.1,2.7-6.9,7.7l-2.3,13.2C282.3,46.3,283.8,46.9,285.7,46.9z M308.2,45.1 c3,1.2,6.1,1.8,9.4,1.8c2.8,0,5.1-1.4,5.1-3.4c0-4.6-12.5-3.7-12.5-13.7c0-7.9,5.7-13.9,15.2-13.9c3.5,0,6.5,0.6,9.7,1.8l-2.8,8.5 c-2.5-0.9-4.9-1.5-7.7-1.5c-2.9,0-3.9,1.5-3.9,3c0,4.5,12.4,4.1,12.4,14.3c0,6.8-4.7,13.7-16.2,13.7c-4,0-7.7-0.9-11.4-2.3 L308.2,45.1z"></path>
            </svg>
        </a>
        
        
        
        <form asp-route="ResetPassword" class="login-form" role="form" id="reset-form">
            <input type="hidden" asp-for="@Model.ReturnUrl" />
            <input type="hidden" asp-for="@Model.Code" />
            <input type="hidden" asp-for="@Model.Guid" />
            <input type="hidden" name="client" value="@client" />
    
            <div class="form-group">
                <label for="Password" class="labelx"><span>@Localizer["Password"]</span>
                    <input class="form-control" asp-for="Password" id="Password" autofocus autocomplete="off">
                </label>
                <div class="error-pass d-none"></div>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword" class="labelx"><span>@Localizer["PasswordConfirm"]</span>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword" autocomplete="off">
                </label>
            </div>
            
            <div class="text-center paddingb20">
                <button type="submit" class="btn btn-login ladda-button" data-style="slide-right">@Localizer["ChangePassword"]</button>
            </div>
            <div class="error-all d-none"></div>
            @if (!string.IsNullOrWhiteSpace(Model.Error))
            {
                if (Model.Error == "InvalidToken")
                {
                    <div class="error2 error">@Localizer["PasswordRecoveryError"]</div>
                }
                else
                {
                    <div class="error2 error">@Localizer["NotFound"]</div>
                }
            }
        </form>
    </div>
</div>
<div class="text-center">
    <a href="@Url.Action("Login", "Account", new { ReturnUrl = Model.ReturnUrl })" class="buttonx">@Localizer["HaveAccount"]</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var postTry = false;

            $("#ConfirmPassword, #Password").keyup(function() {
                if (postTry) {
                    if (fieldsHasValue()) {
                        $(".error-all").removeClass("error");
                        $(".error-all").text("");
                        passwordValidator();
                    } else {
                        removeFieldErrors();
                        $(".error-all").addClass("error");
                        $(".error-all").text("@Localizer["RegisterFieldsRequired"]");
                    }
                }
            });

            function fieldsHasValue() {
                var confirmPasswordValue = $("#ConfirmPassword").val();
                var passwordValue = $("#Password").val();
                if (confirmPasswordValue === "" || passwordValue === "") {
                    return false;
                }
                return true;
            }

            function removeFieldErrors() {
                $(".error-pass").removeClass("error");
                $(".error-pass").text("");
            }

            $("input").focus(function (e) {
                $(e.target).closest(".input-group").addClass("input-focus");
            });

            $("input").blur(function (e) {
                $(e.target).closest(".input-group").removeClass("input-focus");
            });

            function passwordValidator() {
                var isValid = true;
                var fieldValue = $("#Password").val();
                var fieldConfirmValue = $("#ConfirmPassword").val();
                if (fieldValue === "") {
                    removeFieldErrors();
                    $(".error-all").addClass("error");
                    $(".error-all").text("@Localizer["RegisterFieldsRequired"]");
                    isValid = false;
                } else if (fieldValue.length < 6) {
                    $(".error-pass").addClass("error");
                    $(".error-pass").text("@Localizer["PasswordMinimum"]");
                    isValid = false;
                } else if (fieldValue !== fieldConfirmValue) {
                    $(".error-pass").addClass("error");
                    $(".error-pass").text("@Localizer["PasswordNotMatch"]");
                    isValid = false;
                } else {
                    $(".error-pass").removeClass("error");
                    $(".error-pass").text("");
                }
                return isValid;
            }


            $(".btn-login").click(function(e) {
                postTry = true;
                var l = Ladda.create(this);
                l.start();
                if (fieldsHasValue()) {
                    $(".error-all").removeClass("error");
                    $(".error-all").text("");
                    if (!passwordValidator()) {
                        e.stopPropagation();
                        e.preventDefault();
                        l.stop();
                    } else {
                        $("#reset-form").submit();
                    }
                } else {
                    $(".error-all").addClass("error");
                    $(".error-all").text("@Localizer["RegisterFieldsRequired"]");
                    e.stopPropagation();
                    e.preventDefault();
                    l.stop();
                }
            });
        });
    </script>
}
