﻿@using PrimeApps.App.Models

@model PrimeApps.App.Models.RegisterBindingModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{

    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";

    var app = "crm";
    var logo = ViewBag.AppInfo["logo"].Value;
    if (ViewBag.AppInfo != null)
    {
        app = ViewBag.AppInfo["app"].Value;
        ViewBag.Title = ViewBag.AppInfo["title"].Value;

    }
    var otherLang = ViewBag.Lang == "tr" ? "en" : "tr";
    var error = ViewBag.Error;

}

<div class="col-md-4 login-sec">
	<img class="logo-img" src="@Url.Content(logo)" />
	<form asp-controller="Auth" asp-action="ForgotPassword" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="login-form" role="form" id="forgot-form">
@Html.AntiForgeryToken()
<div class="form-group">
	<div class="input-group input-group-first">
		<span class="input-group-addon">
			<span class="flaticon-email26"></span>
		</span>
		<!--<label for="exampleInputEmail1" class="text-uppercase">E-Posta</label>-->
@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Localizer["Email"] })
</div>
</div>
		if (error != null)
		{
		if (error == "notFound")
		{
<div class="error">d</div>
		}

		else if (error == "notActivated")
		{
<div class="error">d</div>
		}
		else
		{
<div class="error">l</div>
		}

		}
<div class="error-email"></div>
<div class="form-check">
	<button type="submit" class="btn btn-login btn-block ladda-button" data-style="slide-right">d</button>
	<div class="language">
@if (otherLang == "tr")
				{
		<a href="@Url.Action(" ForgotPassword", "Auth" , new {ReturnUrl=ViewBag.ReturnUrl, Language=otherLang})">R</a>
				}
				else
				{
		<a href="@Url.Action(" ForgotPassword", "Auth" , new {ReturnUrl=ViewBag.ReturnUrl, Language=otherLang})">N</a>
}
				|
<a href="@Url.Action(" Login", "Auth" , new {ReturnUrl=ViewBag.ReturnUrl, Email=Model !=null ? Model.Email : "" })" class="">o</a>
</div>
</div>
</form>
	@*using (Html.BeginForm("ForgotPassword", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form", id = "forgot-form" }))
	{

	}*@
	<span class="free-info">
@if (ViewBag.Info != null)
		{
@Html.Raw(Localizer["ForgotPasswordSuccess"])
		}
		else
		{
@Localizer["ForgotInfo"]
}
</span>
</div>



@section scripts {
	<script type="text/javascript">
        $(document).ready(function () {

            if (@ViewBag.Info === "Success") {
                swal({
                    title: @Html.Raw(Localizer["ForgotPasswordSuccessTitle"]),
                    text: @Html.Raw(Localizer["ForgotPasswordSuccess"]),
                    icon: "success",
                    button: @Localizer["Ok"],
                });
            }

            var postTry = false;
            $("#Email").keyup(function() {
                if (postTry) {
                    emailValidator();
                }
            });

            $(".btn-login").click(function(e) {
                postTry = true;
                removeFieldErrors();
                var l = Ladda.create(this);
                l.start();
                if (!emailValidator()) {
                    e.stopPropagation();
                    e.preventDefault();
                    l.stop();
                }  else {
                    $("#forgot-form").submit();
                }
            });

            function emailValidator() {
                var isValid = true;
                var fieldValue = $("#Email").val().toLowerCase().replace(/\ /g, "");
                var result = /^[a-z0-9._%+-]+@@[a-z0-9.-]+$/.test(fieldValue);
                if (!result) {
                    $(".error-email").addClass("error");
                    $(".error-email").text(@Html.Raw(Localizer["InvalidEmail"]));
                    isValid = false;
                } else {
                    $(".error-email").removeClass("error");
                    $(".error-email").text("");
                }
                return isValid;
            }

            function removeFieldErrors() {
                $(".error-email").removeClass("error");
                $(".error-email").text("");
                $(".error").text("");
            }

            $("input").focus(function (e) {
                $(e.target).closest(".input-group").addClass("input-focus");
            });

            $("input").blur(function (e) {
                $(e.target).closest(".input-group").removeClass("input-focus");
            });
        });
	</script>

}