@using PrimeApps.Model.Common.Organization
@{
    var organizations = ViewBag.Organizations as List<OrganizationModel>;
    var apps = organizations?.FirstOrDefault(x => x.Id == int.Parse(ViewBag.ActiveOrganizationId))?.Apps;
}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                @if (apps != null && apps.Count > 0)
                {
                    foreach (var app in apps)
                    {
                        <div class="col-xl-3 col-lg-6 b-card">
                            <div class="card card-stats mb-4 mb-xl-0" style="cursor:pointer;" onclick="location.href='@Url.Action("Index", "Package", new { appId = app.Id, orgId = ViewBag.ActiveOrganizationId})'">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">@app.Label</h5>
                                            <p class="mt-3 mb-0 text-muted text-sm">
                                                <span class="text-nowrap">Name: @app.Name</span>
                                            </p>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape text-white rounded-circle shadow" style="background-color: @app.Color">
                                                <i class="@(app.Icon ?? "ni ni-planet")"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h5 style="color: #8e3232 !important; font-weight: bold;" class="card-title text-muted mb-0">Organization has not any application.</h5>
                }
            </div>
            @if (ViewBag.lastVersion != null)
            {
                <div class="row">
                    <div class="col-xl-3 col-lg-6 b-card">
                        <div class="card card-stats mb-4 mb-xl-0" style="cursor:pointer;">
                            <div class="card-body">
                                <div class="row">
                                    @ViewBag.lastVersion.Version
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
