@{
	Layout = null;

}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
	<link rel="stylesheet" href="~/styles/auth.css" />
	<style>
        @*Styles.Render("~/styles/auth")*@
         body {
             background-image: url(/images/background_lines_2.png);
             background-size: inherit;
             background-position: top center;
         }
        .close-button {
            background: #ce0404;
            border: 1px solid #eb3c00;
            padding: 10px 65px;
            cursor: pointer;
            color: white;
        }
        .close-button:hover {
            background: #f11215;
        }
        .swal-text {
            text-align: center;
        }
    </style>
</head>
<body>
	<div class="container">
		<div class="row" style="text-align: center;">
			<!--<div class="col-sm-6 col-sm-offset-3">
				<img src="/images/officeconnection.png" />
				<h2 style="color:#0fad00; font-family: monospace;">Bağlantı Başarılı</h2>
				<p style="font-size:20px;color:#5C5C5C;">Pencereyi kapatıp sisteme office 365 e-postanız ile giriş yapabilirsiniz.</p>
				<p style="font-size: 15px; color: #ce0405;">Uyarı: Özellikleri kullanabilmek için office 365 e-postanız ile giriş yapılması zorunludur.</p>
				<br><br>
				<button type="button" class="close-button" onclick="window.open('', '_self', ''); window.close();">Kapat</button>
			</div>-->

		</div>
	</div>
	@*Scripts.Render("~/bundles-js/auth")*@
	<script src="~/bundles-js/auth.js"></script>
	<script type="text/javascript">
        $(document).ready(function () {
            var error = "@ViewBag.Error";
            if (error === "userExist") {
                swal({
                    title: "@Html.Raw(PrimeApps.App.Resources.Auth.Resource.ProcessCodeErrorTitle)",
                    text: "@Html.Raw(PrimeApps.App.Resources.Auth.Resource.ProcessCodeErrorMessage)",
                    icon: "error",
                    button: "@Html.Raw(PrimeApps.App.Resources.Auth.Resource.Ok)",
                }).then(function() {
                    window.open('', '_self', ''); window.close();
                });
            } else if (error === "emailNotMatch") {
                swal({
                    title: "@Html.Raw(PrimeApps.App.Resources.Auth.Resource.EmailNotMatchTitle)",
                    text: "@Html.Raw(PrimeApps.App.Resources.Auth.Resource.EmailNotMatchContent)",
                    icon: "error",
                    button: "@Html.Raw(PrimeApps.App.Resources.Auth.Resource.Ok)",
                }).then(function() {
                    window.open('', '_self', ''); window.close();
                });
            } else if (error === "accessDenied") {
                window.open('', '_self', ''); window.close();
            } else {
                swal({
                    title: "@Html.Raw(PrimeApps.App.Resources.Auth.Resource.ProcessCodeTitle)",
                    text: "@Html.Raw(PrimeApps.App.Resources.Auth.Resource.ProcessCodeMessage)",
                    icon: "success",
                    button: "@Html.Raw(PrimeApps.App.Resources.Auth.Resource.Ok)",
                }).then(function() {
                    window.open('', '_self', ''); window.close();
                });
            }
        });
	</script>
</body>
</html>
